* {
  margin: 0;
  padding: 0;
}

.d-none {
  display:none;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

/* HEADER */
.header {
  height: 75px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  margin-left: 41px;
}

.header-icons:not(:last-child) {
  margin-right: 33px;
}

.top {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  margin-bottom: 65px;
  position: relative;
}

.nav-menu-button {
  display: inline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu-button:focus svg path {
  fill: #F16D7F;
}

.nav-menu-button:hover svg path {
  fill: #F16D7F;
}

#switcher {
  display: none;
}

#switcher:checked ~ .nav-menu {
  display: block;
}

@-webkit-keyframes gamburger-open {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes gamburger-open {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav-menu {
  width: 232px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  right: 0;
  top: 75px;
  z-index: 100;
  padding: 34px 37px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: none;
  -webkit-animation: gamburger-open .4s ease 0s 1 normal forwards;
          animation: gamburger-open .4s ease 0s 1 normal forwards;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-menu__head {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.nav-menu__li {
  margin-top: 24px;
}

.nav-menu__li li {
  margin-top: 12px;
}

.nav-menu__li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.nav-menu__li a:hover {
  text-decoration: underline;
}

.nav-menu__ul-child a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 12px;
}

.nav-menu__close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav-menu__close:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.nav-menu__close:hover svg path {
  fill: #F16D7F;
}

.header-mob-box {
  display: none;
}

.top-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.top-img {
  width: 100%;
}

.top-right {
  width: 50%;
}

.top-label {
  /* margin-top: 35%; */
  margin-top: 0%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.label-large {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
}

.label-small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  text-transform: uppercase;
}

.color-text {
  color: #F16D7F;
}

/* END TOP */
/* OFFER */
.offer-top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.offer-img {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.offer-top {
  position: relative;
}

.offer-top-margin {
  margin-right: 30px;
}

.offer-content {
  position: absolute;
  top: 42%;
  text-align: center;
  width: 100%;
}

.offer-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.offer-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
  text-transform: uppercase;
}

.offer-content-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-bottom {
  position: relative;
}

.offer-bottom-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 96px;
}

/*END OFFER */
/* PRODUCT */
.product-container {
  text-align: center;
}

.product-heading {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.product-text {
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 360px);
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-bottom: 48px;
}

.item {
  height: 581px;
  background: #F8F8F8;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.item:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.item-content {
  padding: 25px 18px 18px 18px;
}

.item-heading {
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.item-heading-a:hover {
  text-decoration: underline;
}

.item-p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.price {
  padding-left: 18px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product-add {
  padding-left: 14px;
  padding-right: 16px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
}

.item-img {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.item:hover .item-img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.item:hover .product-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-add:hover {
  color: black;
  background-color: #fff;
}

.product-add:hover .product-cart path {
  fill: black;
}

.product-cart {
  margin-right: 11px;
}

.browse-button {
  display: inline-block;
  text-decoration: none;
  padding: 14px 38px;
  border: 1px solid #FF6A6A;
  background: #FFFFFF;
  text-align: center;
  margin-bottom: 95px;
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
}

.browse-button:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

/* END PRODUCT */
/* FOOTER */
.footer-top {
  background: #222224;
  color: #FBFBFB;
}

.footer-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 104px 0;
}

.feature {
  max-width: 360px;
  max-height: 134px;
}

.feature-img {
  width: 47px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.feature-heading {
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.feature-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  opacity: 0.5;
}

.footer-mid {
  background-blend-mode: screen;
  background-image: url(img/footer-cover.png);
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(244, 244, 244, 0.7);
  min-height: 400px;
}

.footer-mid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-img {
  max-width: 360px;
}

.form-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.form-text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.footer-input {
  width: 240px;
  background: #E1E1E1;
  padding: 16px 22px;
  border-radius: 26px 0 0 26px;
  border-width: inherit;
}

.footer-button {
  width: 95px;
  border-radius: 0 26px 26px 0;
  border-width: inherit;
  background-color: #F16D7F;
  padding: 16px;
  margin: -7px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-button:hover {
  background-color: #E05C6E;
}

.footer-bottom {
  background: #222224;
  color: #FBFBFB;
}

.bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-line {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-line-rights {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.copy-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.soc-icon:not(:last-child) {
  margin-right: 7px;
}

.soc-icons {
  width: 32px;
  height: 32px;
  margin-left: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.facebook {
  background: white;
  background-image: url(img/soc/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook:hover {
  background: #0E9280;
  background-image: url(img/soc/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.instagram {
  background: white;
  background-image: url(img/soc/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.instagram:hover {
  background: #0E9280;
  background-image: url(img/soc/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.pinterest {
  background: white;
  background-image: url(img/soc/pinterest.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pinterest:hover {
  background: #0E9280;
  background-image: url(img/soc/pinterest.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.twitter {
  background: white;
  background-image: url(img/soc/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.twitter:hover {
  background: #0E9280;
  background-image: url(img/soc/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(1);
          filter: invert(1);
}

/* CATALOG -----------------*/
.catalog-top {
  background-color: #F8F3F4;
  height: 148px;
  display: -ms-grid;
  display: grid;
}

.inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.page-name {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumbs-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 1px;
}

.breadcrumbs-item:not(:last-child):after {
  content: "/";
  margin-left: 1px;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumbs-link:hover {
  color: #F16D7F;
}

.breadcrumbs:last-child {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

/* FILTER */
.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 26px;
  padding-bottom: 51px;
}

.filter-wrapper {
  position: relative;
  min-width: 390px;
}

.filter {
  width: 360px;
  margin-right: 30px;
  padding: 13px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 100;
}

.filter[open] {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  border: 1px solid #EBEBEB;
  padding: 12px 15px;
}

.filter-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.filter-heading__span {
  padding-right: 11px;
}

details {
  display: block;
}

summary {
  display: block;
  outline: none;
}

.filter-heading::marker {
  display: none;
}

.filter > .filter-heading:hover {
  color: #F16D7F;
}

.filter[open] > .filter-heading {
  color: #F16D7F;
}

.filter[open] > .filter-heading svg path {
  fill: #F16D7F;
}

.filter-category {
  margin-top: 16px;
}

.filter-category[open] > .filter-category-heading {
  color: #F16D7F;
}

.filter-category-heading {
  border-left: 5px solid #F16D7F;
}

.filter-category-name {
  height: 37px;
  border-bottom: 1px solid #EBEBEB;
  display: block;
  padding-left: 11px;
  line-height: 37px;
}

.filter-content-ul {
  padding: 24px 11px 0px;
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-content-ul a {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-content-ul a:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.filter-content-ul li:not(last-child) {
  padding-bottom: 11px;
}

/* SORT */
.sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 13px 16px;
  /*left: 390px;*/
}

.sort-item {
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.sort-item__last {
  margin-right: 0;
}

.sort-item::after {
  content: url(img/down.svg);
  padding-left: 10px;
}

.sort-item:hover {
  color: #F16D7F;
}

.sort > .sort-item:focus {
  outline: none;
}

.size-check {
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 11px 30px 9px 9px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  text-align: left;
}

.size-drop {
  margin-left: 9px;
}

.check:not(:first-child) {
  margin-top: 10px;
}

/* PAGINATION */
.pagination {
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination a {
  padding: 15px 16px;
  text-decoration: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination a:first-child {
  border-left: 1px solid #ddd;
}

.pagination a:last-child {
  border-right: 1px solid #ddd;
}

.pagination a.active {
  color: #EF5B70;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* PRODUCT */
/* SLIDER */
.slider {
  border: 1px solid #EAEAEA;
  height: 777px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: url(img/Layer-42.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #F7F7F7;
}

.slider img {
  height: 100%;
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 47%;
  background-color: #EAEAEA;
}

.arrow-right {
  position: absolute;
  right: 0;
  top: 47%;
  background-color: #EAEAEA;
}

.arrow-left a {
  display: block;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-right a {
  display: block;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-left a:hover svg path {
  fill: #F16D7F;
}

.arrow-right a:hover svg path {
  fill: #F16D7F;
}

/* DESCRIPTION */
.desc-wrapper {
  margin-bottom: 128px;
}

.description {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  /*margin-left: calc(50% - 570px);
    margin-right: calc(50% - 570px);*/
  margin-top: -64px;
  position: relative;
}

.sort-product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 64px;
}

.line-top {
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  margin-top: 12px;
  margin-bottom: 12px;
}

.product-name {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product-description {
  display: block;
  width: 550px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}

.product-price {
  color: #F16D7F;
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.line-bottom {
  background-color: #EAEAEA;
  width: 80%;
  height: 1px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  margin-top: 64px;
  margin-bottom: 64px;
}

.product-button {
  padding-left: 14px;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 44px;
  width: 212px;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 48px;
  margin-bottom: 64px;
}

.product-button-cart {
  margin-right: 22px;
}

.product-button:hover {
  background-color: #F16D7F;
  color: white;
}

.product-button:hover .product-button-cart path {
  fill: white;
}

.product-margin {
  margin-bottom: 128px;
}

/* CART */
.flex-box {
  margin-top: 96px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.incart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 652px;
}

.incart__items:last-child {
  margin-bottom: 72px;
}

.incart__item {
  width: 652px;
  height: 306px;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px 0px #00000021;
          box-shadow: 17px 19px 24px 0px #00000021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.incart__text {
  width: 262px;
  height: 202px;
  padding-top: 22px;
  padding-left: 31px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.incart__img {
  max-width: 262px;
  max-height: 306px;
}

.incart__product {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.incart__price {
  color: #EF5B70;
}

.incart p {
  margin-bottom: 6px;
}

.incart__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.incart__input {
  border: 1px solid #EAEAEA;
  text-align: center;
  margin-left: 24px;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.incart__clear {
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  background-color: #fff;
}

.incart__clear:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.incart__clear:hover svg path {
  fill: #F16D7F;
}

.incart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.incart__input {
  -moz-appearance: textfield;
  width: 44px;
  height: 25px;
}

.incart__input::-webkit-inner-spin-button {
  display: none;
}

.incart__product:hover {
  color: #F16D7F;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.cart-button {
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  opacity: 0.5;
  padding: 17px 40px;
}

.cart-button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  opacity: 1;
}

.adress {
  height: 272px;
  width: 360px;
  margin-bottom: 57px;
}

.adress__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.adress__input {
  border: 1px solid #A4A4A4;
  opacity: 0.5;
  width: 324px;
  height: 45px;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adress__input:not(last-child) {
  margin-bottom: 20px;
}

.adress__button {
  padding: 10px 15px;
  border: 1px solid #A4A4A4;
  opacity: 0.5;
  background: #FFFFFF;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-top: 3px;
}

.adress__button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  opacity: 1;
}

.summ {
  height: 214px;
  width: 360px;
  background: #F5F3F3;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.summ__sub {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-top: 39px;
  padding-right: 34px;
  margin-bottom: 12px;
}

.summ__total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-right: 37px;
}

.summ__price-total {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.summ__line {
  width: 77%;
  border: none;
  background: #E2E2E2;
  opacity: 0.7;
  height: 1px;
  margin: 21px 0 17px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.summ__button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  width: 273px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.summ__button:hover {
  background-color: #E05C6E;
}

/* REGISTRATION */
.reg-box {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.reg-form__input {
  border: 1px solid #A4A4A4;
  opacity: 0.5;
  width: 324px;
  height: 45px;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reg-form__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.reg-form__radio {
  margin-top: 12px;
  margin-bottom: 12px;
}

.reg-form__info {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.reg-form__button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.reg-form__button__join {
  margin-left: 20px;
}

.reg-form__button:hover {
  background-color: #E05C6E;
}

.gender-check {
  opacity: 0.5;
}

.gender {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
  margin-left: 10px;
}

form input:not(:last-child) {
  margin-bottom: 20px;
}

.reg-text {
  max-width: 652px;
}

.reg-text__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.reg-text__p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.reg-text__ul li:not(:last-child) {
  margin-bottom: 11px;
}

.reg-text__li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg-text__li::before {
  content: url(img/reg-marker.png);
  margin-right: 22px;
  padding-top: 5px;
}

@media (max-width: 1120px) {
  .container {
    margin: 0 16px;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  /*.top {
        height: 368px;
    }

    .inner-top-left {
        background-position: 85%;
        background-size: 35%;
    }

    .top-img {
        left: 8%;
        max-width: 37%;
    }*/
  .footer-top-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px 0 64px 0;
  }
  .feature {
    margin-bottom: 48px;
  }
  .footer-mid-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-top {
    margin-top: 54px;
    margin-bottom: 48px;
  }
  .subscribe-bottom {
    margin-bottom: 219px;
  }
  .product {
    grid-gap: 16px;
  }
  .filter {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .sort-wrapper {
    white-space: nowrap;
  }
  .dropdown {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter-wrapper {
    min-width: 0;
  }
  .filter[open] {
    width: 308px;
  }
  .flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-form {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 15px;
  }
  .summ {
    margin-top: 39px;
  }
  .reg-form {
    width: 360px;
  }
  .reg-text {
    margin-left: 22px;
  }
  .reg-text__heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .reg-text__p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .reg-text__li {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .description {
    margin-top: 0;
    border: none;
  }
  .desc-wrapper {
    border-bottom: 1px solid #EAEAEA;
  }
}

@media (max-width: 950px) {
  /*.top-left {
        background-position: 80%;
        background-size: 35%;
    }

    .top-img {
        left: 0%;
        max-width: 50%;
    }
}*/
}

@media (max-width: 950px) and (max-width: 760px) {
  .container {
    margin: 0 8px;
  }
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-icons:not(:last-child) {
    margin-right: 0;
  }
  .top {
    height: 363px;
  }
  .header-hidden {
    display: none;
  }
  .header-icons-mob {
    display: block;
  }
  .header-mob-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 52px;
    background-color: gray;
  }
  .nav-menu {
    width: 100%;
    height: calc(100vh - 75px);
    padding: 80px 37px 34px;
  }
  .nav-menu__close {
    display: none;
  }
  .top-left {
    display: none;
  }
  .top-right {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-label {
    margin: 0;
    height: 66px;
  }
  .label-large {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #222222;
  }
  .label-small {
    font-size: 20px;
    line-height: 24px;
    color: #222222;
  }
  .offer-top-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-top-margin {
    margin-right: 0px;
  }
  .offer-bottom {
    overflow: hidden;
  }
  .offer-bottom-img {
    height: 111px;
    -o-object-fit: none;
       object-fit: none;
  }
  .footer-img {
    max-width: 320px;
  }
  .subscribe-top {
    margin-top: 54px;
    margin-bottom: 59px;
  }
  .subscribe-bottom {
    margin-bottom: 110px;
  }
  .footer-input {
    width: 166px;
    background: #E1E1E1;
    padding: 16px 20px;
    border-radius: 26px 0 0 26px;
    border-width: inherit;
  }
  .footer-button {
    width: 87px;
    border-radius: 0 26px 26px 0;
    border-width: inherit;
    background-color: #F16D7F;
    padding: 16px;
    margin: -7px;
    color: white;
  }
  .bottom-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-line {
    padding: 43px 0 0 0;
  }
  .footer-line-rights {
    padding: 40px 0 9px 0;
  }
  .product-description {
    max-width: 326px;
    line-height: 20px;
  }
  .form-heading {
    font-size: 24px;
    line-height: 37px;
  }
  .form-text {
    font-size: 14px;
    line-height: 21px;
  }
  .reg-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    margin-bottom: 96px;
  }
  .reg-text {
    margin-left: 0;
    margin-top: 40px;
  }
  .inner-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bread-right {
    margin-top: 32px;
  }
  .sort-item {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-right: 0;
  }
  .sort:not(:last-child) {
    margin-right: 25px;
  }
  .line-bottom {
    width: 53%;
  }
  .filter-heading__span {
    display: none;
  }
  .filter-heading svg {
    width: 37.5px;
    height: 25px;
  }
  .filter-heading:hover svg path {
    fill: #F16D7F;
  }
  .desc-wrapper {
    margin-bottom: 64px;
  }
  .flex-box {
    margin-top: 48px;
    margin-bottom: 96px;
  }
  .cart-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adress {
    margin-bottom: 48px;
  }
  .summ {
    margin-top: 0;
  }
  .incart__item {
    width: 358px;
    height: 188px;
    margin-bottom: 32px;
  }
  .incart__img {
    height: 188px;
    width: 144px;
  }
  .incart__text {
    height: 137px;
    width: 144px;
    padding-top: 13.5px;
    padding-left: 17px;
  }
  .incart__product {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }
  .incart__text {
    font-size: 14px;
    line-height: 17px;
  }
  .incart__input {
    width: 24px;
    height: 15px;
    font-size: 10px;
    line-height: 12px;
    margin-left: 15px;
  }
  .incart p {
    margin-bottom: 4px;
  }
  .incart__clear {
    top: 17px;
    right: 12px;
  }
  .incart__clear svg {
    width: 10px;
    height: 11px;
  }
  .cart-button {
    width: 175px;
    height: 33px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
  }
}

@media (max-width: 950px) and (max-width: 359px) {
  .product {
    -ms-grid-columns: (310px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 310px);
  }
  .item {
    height: 530px;
  }
  .item-img {
    width: 310px;
    height: 100%;
  }
  .sort:not(:last-child) {
    margin-right: 16px;
  }
  .product-description {
    max-width: 300px;
  }
  .reg-form {
    width: 286px;
  }
  .reg-form__input {
    width: 250px;
  }
  .incart__item {
    width: 308px;
  }
  .incart__text {
    padding-top: 10px;
    padding-left: 12px;
  }
  .cart-button {
    width: 150px;
  }
  .cart-form {
    width: 286px;
  }
  .adress__input {
    width: 250px;
  }
  .summ {
    width: 286px;
    height: 194px;
  }
  .summ__button {
    width: 250px;
    height: 40px;
  }
  .adress {
    width: 303px;
  }
  .incart__clear {
    top: 7px;
    right: 7px;
  }
  .incart__product {
    font-size: 14px;
    line-height: 16px;
  }
  .pagination a {
    padding: 12px 12px;
  }
}
/*# sourceMappingURL=style.css.map */
